@page "/tracked"

<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light bg-light">
    <div class="container">
        <!-- Логотип приложения -->
        <a class="navbar-brand" href="#">
            <img src="https://ibb.org.ru/images/2024/11/12/logoza.ru.png" alt="Logo" class="d-inline-block align-text-top" style="max-height: 50px;">
        </a>

        <!-- Поисковая строка -->
        <form class="d-flex mx-auto">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <!-- Кнопка для мобильных устройств -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Навигационные ссылки -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Главная
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="hero" class="mt-5">
    <div class="container">
        <div class="row">
            <!-- Секция слева с кнопками "Избранное" и "Отслеживаемое" -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="favorites" class="list-group-item list-group-item-action">Избранное</a>
                    <a href="tracked" class="list-group-item list-group-item-action">Отслеживаемое</a>
                </div>
            </div>

            <!-- Основная секция с плашкой с текстом -->
            <div class="col-md-9">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <div class="card-body">
                                <h5 class="card-title">Вы пока что ничего не отслеживаете!</h5>
                                <p class="card-text">Но возможно когда то начнёте!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@foreach (var user in result)
{
    <p>@user.Username @user.Role</p>
}

@code {
    public class User
    {
        public int Id { get; set; }
        public string Username { get; set; }
        public string Email { get; set; }
        public string PasswordHash { get; set; }
        public string Role { get; set; }
        public DateTime? CreatedAt { get; set; }
        public DateTime? UpdatedAt { get; set; }
    }

    public User[] result = new User[] { };

    string CurrentDate;
    string CurrentTime;

    protected override async Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentDate = date.ToShortDateString();
        CurrentTime = date.ToShortTimeString();

        var client = new HttpClient();
        client.BaseAddress = new Uri("https://webmusicapi.onrender.com");

        result = await client.GetFromJsonAsync<User[]>("api/User");
    }
}